/* src/pages/OrderPage.css */
.order-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.order-header {
  flex: 0 0 20%;
  padding: 20px;
  text-align: center;
  /* background-color: #f4f4f4; */
}

.selectors {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 10px;
}

.order-main {
  flex: 1;
  display: flex;
  height: 80%;
}

.order-left {
  flex: 0 0 60%;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.order-right {
  flex: 0 0 40%;
  padding: 20px;
  /* background-color: #fafafa; */
  overflow-y: auto;
  
}

.cart-summary {
  border: 1px solid #ccc;
  padding: 15px;
  /* background: #fff; */
  border-radius: 8px;
}

.cart-summary h3 {
    padding-left: 0;
}

.per-person-price {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}

