.order-placed-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.order-placed-overlay h2 {
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
}
