.collapsible-menu .category {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* background: #fff; */
}

.category-header-container {
  display: flex;
  gap: 12px;
  padding: 10px 16px;
  overflow-x: auto;
  margin-bottom: 20px;
  scroll-behavior: smooth;
}

.category-header-chip {
  background-color: #FFD700;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.category-header-chip:hover {
  background-color: #ffd900ad;
}

.category-header-chip.active {
  background-color: red;
  color: #fff;
  border-color: #333;
}


.dish-list {
  padding: 10px 16px;
  display: flex;
  flex-wrap: wrap;
}

.empty-category {
  color: #999;
  font-style: italic;
}

.dish-list-wrapper {
  max-height: 0;
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
  border: none;
  transition: max-height 0.4s ease;
}

.dish-list-wrapper.open {
  max-height: 1000px; /* Arbitrary large height */
}

.dish-list {
  padding: 10px 16px;
  display: flex;
  flex-wrap: wrap;
}

.empty-category {
  color: #999;
  font-style: italic;
}

