.menu-content {
  padding: 60px 20px;
  text-align: center
}

.menu-content h1 {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: #333
}

.menu-content>div:first-of-type {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.menu-content>div:last-of-type {
  padding: 40px 10px;
  background: #fff;
  border-radius: 15px;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
  transition: all .3s ease-in-out
}

.order-now-btn {
  margin: 5px 5px;
  padding: 15px 15px; 
  font-weight: bold;
  background-color: #FFD700;
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.order-now-btn:hover {
  background-color: red;
  color: white;
}